title mcw
link(href="//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic", rel="stylesheet", type="text/css")
link(href="//fonts.googleapis.com/css?family=Droid+Sans+Mono", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="css/mcw.css")
meta(name="viewport", content="width=device-width; initial-scale=1; user-scaleable=0; maximum-scale=1;")
meta(charset="UTF-8")