header.header
  .container.container_state_nav
    nav
      ul.nav-menu
        li.nav-menu__item
          a.nav-menu__item__link.nav-menu__item__link_state_current(href="#home") weblog
        li.nav-menu__item
          a.nav-menu__item__link(href="#archive") archiv
        li.nav-menu__item
          a.nav-menu__item__link(href="#photos") fotos
    p.header__title
      a.header__title__link(href="#home") madcats[welt]