.pagination
    .pagination__item.pagination__item-position-prev
        a.pagination__link(href="#prev") &larr; vorherige Einträge
    .pagination__item.pagination__item-position-next
        a.pagination__link(href="#prev") nächste Einträge &rarr;
