*
  box-sizing: border-box

html
  background: #F1F1F1
  font-family: Roboto, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@import components/headlines
@import components/header
@import components/footer
@import components/nav-menu
@import components/container
@import components/post
@import components/pagination
